/* salsa-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Salsa';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/salsa-v21-latin/salsa-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }