body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('assets/img/5_background/background-picture.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: overlay;
    height: 100vh;
    margin: 0;
    font-family: 'salsa', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    letter-spacing: 1px;
    color: rgb(160, 34, 10);
}

.canvas-container {
    position: relative;
    width: 720px;
    height: 480px;
}

/* =========
STARTSCREEN
===========*/

#start_screen {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#start_button {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 2;
    filter: opacity(0.3);
    transition: transform 0.3s ease-in-out;
}

#start_button:hover {
    cursor: pointer;
    transform: translate(-50%, -40%) scale(1.1);
}

/* ====
CANVAS
======*/

canvas {
    background-color: black;
    display: block;
    position: absolute;
    width: 100%;
    max-height: 100%;
}

.volume-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.volume-icon:hover {
    cursor: pointer;
}

#volume_off_icon {
    z-index: -1;
}

/* =========
KEY INSTRUCTIONS
============*/

.key-instructions-container {
    display: flex;
    gap: 64px;
    margin-top: 32px;
}

.key-instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.key-instruction-icon {
    height: 40px;
    width: 40px;
    border-style: double;
    border-radius: 4px;
    text-align: center;
    margin: 8px;
    background-color: rgb(107, 190, 216);
    display: flex;
    align-items: center;
    justify-content: center;
}

.key-instruction-icon-jump {
    width: 70px;
}

/*=====
IMPRINT
=======*/

.imprint-link-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    padding: 32px;
    font-size: 18px;
}

.imprint-link {
    color: black;
    text-decoration: none;
}

.imprint-link:hover {
    color: rgb(160, 34, 10);
}

h2 {
    font-size: 32px;
    letter-spacing: 1px;
    color: rgb(160, 34, 10);
}

.imprint-container {
    font-size: 20px;
}

.back-icon-container {
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 32px;
    padding-top: 32px;
}

.back-icon {
    width: 32px;
    background-color: rgb(244, 166, 133);
    border-radius: 100%;
    border-style: double;
    margin: 8px;
}

.back-icon:hover {
    cursor: pointer;
    filter: opacity(0.6);
}

/* =========
SMALL SCREEN
============*/

#small_screen_container {
    display: none;
}

#screen_rotation_icon {
    width: 200px;
}

#turn_device_message {
    font-size: 36px;
}

/* ================
MOBILE TOUCH BUTTONS
===================*/
.mobile-touch-button-container {
    display: none;
}

.mobile-touch-buttons-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mobile-touch-button {
    width: 32px;
    background-color: rgb(255, 197, 33);
    border-radius: 100%;
    border-style: double;
    margin: 8px;
}

.volume-button {
    position: absolute;
    right: 0;
}

.volume-button:hover {
    cursor: pointer;
}

#volume_off_button {
    z-index: -1;
}

/* ======
END SCREEN
=========*/

.endscreen-img {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.endscreen-text {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.restart-button {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 15%;
    left: 80%;
    transform: translate(-50%, -40%);
    position: absolute;
    z-index: 4;
    border-radius: 16px;
    border-style: none;
    background-color: rgb(255, 200, 29);
    font-size: 32px;
    box-shadow: -2px 2px 2px black;
    transition: transform 0.3s ease-in-out;
}

.restart-button:hover {
    cursor: pointer;
    transform: translate(-50%, -40%) scale(1.05);
}

/* ================
RESPONSIVE-DESIGN
===================*/

/* Break point 1 (max-width: 720px)*/
@media only screen and (max-width: 720px) {

    .canvas-container,
    #start_screen,
    canvas,
    #endscreen_img,
    #endscreen_text_won,
    #endscreen_text_lost,
    .mobile-touch-button-container {
        width: 100%;
    }

    h1 {
        display: none;
    }
}

/* Break point 2 (max-width: 600px)*/
@media only screen and (max-width: 600px) {

    body {
        background-color: rgba(255, 255, 255, 0.6);
    }

    .mobile-touch-button-container {
        display: none;
    }

    #small_screen_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #turn_device_message {
        text-align: center;
    }

    #start_screen,
    #start_button,
    canvas,
    .volume-icon,
    .key-instructions-container,
    .imprint-link-container,
    #endscreen_img,
    #endscreen_text_won,
    #endscreen_text_lost,
    .restart-button {
        display: none;
    }

    .imprint-container {
        margin-left: 32px;
    }
}

/* Break point 3 (max-height: 600px)*/
@media only screen and (max-height: 600px) {

    .canvas-container,
    canvas,
    #start_screen,
    #endscreen_img,
    #endscreen_text_won,
    #endscreen_text_lost,
    .mobile-touch-button-container {
        height: 100vh;
        width: 100%;
    }

    h1,
    .imprint-link-container,
    .key-instructions-container {
        display: none;
    }

    .mobile-touch-button-container {
        display: block;
    }

    #volume_on_icon,
    #volume_off_icon {
        display: none;
    }
}